<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alibaba</title>
</head>
<body>
  <h1>Alibaba</h1>
  <div id="root">
    <span>{{ message }}</span>
  </div>
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/systemjs/6.8.3/system.min.js"></script> -->
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
  <script src="/helpers.js"></script>
  <!-- <script type="module">
   import("/js/index.js").then(res => {
      console.error("esmodule", res.default)
    })
  </script> -->
  <!-- <script type="module">
    System.import("/js/system_bundle.js").then(res => {
      console.error("systemmodule", res.default)
    })
  </script> -->
</body>
</html>